/* ----------------------------------------------------
* Sets download URLs for Cellranger references bundle
* -----------------------------------------------------
*/


params {
  transcriptomes {
    'GRCh38' {
        file = 'https://nfpipelines.blob.core.windows.net/nfreferences/refdata-cellranger-GRCh38-3.0.0.tar.gz'
    }
    'mm10' {
        file = 'https://nfpipelines.blob.core.windows.net/nfreferences/refdata-cellranger-mm10-3.0.0.tar.gz'
    }
  }
}
